/* adding work sense font form google font */
@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Lato:wght@400;700;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,800;1,500&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: Work Sans;
}

/* Adding the header css */
header {
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 180px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;


}

.tempo {
    margin-top: 45px;
}


nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin: right 30px;
    font-weight: 500;
    font-size: 1 rem;
}

nav li a {
    text-decoration: none;
    color: #424242;
    padding: 10px;
}

/* Banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.buddy {
    margin-right: 40px;
}

.banner-description {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    background: #ff900e;
    padding: 20px 25px;
    cursor: pointer;
    border: 0px;
}

.banner img {
    width: 100%;
    margin: 20px;

}

/* Main section Styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Teams Style */

.teams-container {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5 rem;

}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.5rem;
}

.quick {
    color: #727272;
    font-weight: 500;
}

.texty {
    color: #ff900e;
    font-weight: 700;

}

.add-feature {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;


}

.card-container .card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    margin-top: 10px;

}

.card-container .card-stats {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.8 rem;
    color: #424242;
}

.card-container .card-title {
    font-size: 1.8rem;
    color: #424242;
    font-family: Work Sans;

}

.sponsors {
    text-align: center;
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.section-description {
    color: #727272;
}
.sopnsors-img-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}
.sopnsors-img-container img{
    width: 165px;

}
.feature-model{
    display: flex;
}
.model-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
.model-description{
    color: #727272;
}

.model-card{
    border-radius: 8px;
    border: 1px solid #181716;
    margin-top: 10px;
    padding: 10px;
}
.feature-model{
    gap: 20px;
}















/* Mobile Devices */
@media (max-width:596px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .teams-container,
    .card-container 
    , .sopnsors-img-container , .feature-model{
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .teams-content,
    .card-container , .sopnsors-img-container {
        padding-right: 20px;
        padding-left: 20px;
    }
}

/* Tablet Devices */
@media (min-width:576px) and (max-width:976px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;

    }

}